
@tailwind base;
@tailwind components;
@tailwind utilities;



  

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }


  /* src/index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply the Open Sans font globally */
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8; 
    color: #333; 
  }
  

  /* index.css ya apni global css file me add karo */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }
  